@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #1f1f1f; /* dark base to cover top & edges */
}

/* Make scrollbar minimal */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}
